{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name adzerk.boot-reload.init616, :imports nil, :requires {client adzerk.boot-reload.client, adzerk.boot-reload.client adzerk.boot-reload.client, paren-soup.core paren-soup.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:ws-host :asset-host :on-jsload}, :order [:ws-host :asset-host :on-jsload]}, :doc nil}